name: publish-to-pages-branch

on:
 push:
    branches:
      - main
    paths-ignore:
      - ./**.md

jobs:
 css:
    name: Compile CSS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm install

      - name: Build Tailwind CSS
        run: npx tailwindcss -i ./tailwindsource.css -o ./src/tailwind.css

      - name: Check for changes
        id: check_changes
        run: |
          git diff --exit-code --quiet -- src/tailwind.css || echo "::set-output name=changes::true"

      - name: Commit Built CSS
        if: steps.check_changes.outputs.changes == 'true'
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git add src/tailwind.css
          git commit -m "Built css for production"
          git push origin main
          
 build:
    name: Build
    needs: css
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm install
        
      - name: Build project
        run: npm run build
        
      - name: Upload build files
        uses: actions/upload-artifact@v3
        with:
          name: production-files
          path: ./dist

 deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: production-files
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist

      - name: Create .env file
        if: steps.check_changes.outputs.changes == 'true'
        run: |
          echo "changes=true" > .env

      - name: Upload .env file
        if: steps.check_changes.outputs.changes == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: .env-file
          path: .env
